{% load i18n %}
{% trans "Hola" %},

{% trans "Has solicitado restablecer tu contraseña para tu cuenta en FENIX." %}

{% trans "Por favor haz clic en el siguiente enlace para establecer una nueva contraseña:" %}

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% trans "Si no solicitaste este cambio, puedes ignorar este email de manera segura." %}

{% trans "Este enlace expirará en unas horas." %}

{% trans "Saludos" %},
{% trans "El equipo de FENIX" %}
