{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}
    {% if is_admin_view %}
        {% trans "Pedidos de" %} {{ client_name }}
    {% else %}
        {% trans "Mis Pedidos" %}
    {% endif %}
{% endblock %}

{% block title %}
    {% if is_admin_view %}
        {% trans "Pedidos de" %} {{ client_name }} - Fenix
    {% else %}
        {% trans "Mis Pedidos" %} - Fenix
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'orders/_orders_table.html' %}
{% endblock %}

